@font-face {
    font-family: 'national';
    src: url('../Fonts/NationalPark-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nationalH';
    src: url('../Fonts/NationalPark-Heavy.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'national';
    margin: 0;
}

div.RouterBloc {
    display: block;
    position: absolute;
    margin: 10px;
}

.Hide {
    display: none;
}

a.RouterLog {
    position: relative;
    display: inline-block;
    width: auto;
    display: block;
    text-decoration: none;
    border: solid black 1px;
    color: black;
    background-color: #fcf;
    border-radius: 15px;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 5px;
}

a.RouterMatch {
    position: relative;
    display: inline-block;
    width: auto;
    display: block;
    text-decoration: none;
    border: solid black 1px;
    color: black;
    background-color: #ff3f;
    border-radius: 15px;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 5px;
}

a.RouterProfil {
    position: relative;
    display: inline-block;
    width: auto;
    display: block;
    text-decoration: none;
    border: solid black 1px;
    color: black;
    background-color: #ff3f;
    border-radius: 15px;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 5px;
}


/* logout */
button.ShowButton {
    position: fixed;
    width: auto;
    display: block;
    text-decoration: none;
    border: solid black 1px;
    color: black;
    background-color: rgb(243, 77, 77);
    border-radius: 15px;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 5px;
    right: 0px;
    top: 0px;
    margin: 10px;
}

button.HideButton {
    display: none;
}

button.NotifButton {
    position: fixed;
    width: auto;
    display: block;
    text-decoration: none;
    border: solid black 1px;
    color: black;
    background-color: rgb(107, 108, 221);
    border-radius: 15px;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 5px;
    right: 0px;
    top: 60px;
    margin: 10px;
}

button:hover {
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

label:hover {
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

a:hover {
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

button {
    outline: 0;
}