@font-face {
    font-family: 'national';
    src: url('../Fonts/NationalPark-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* background match color & number */

div.matchBack {
    position: absolute;
    transition: background-color 1s ease-in-out, width 1s ease-in-out;
    z-index: -2;
    height: 100vh;
    top: 0px;
    left: 0px;
}

p.matchNumber {
    color: white;
    font-family: national;
    position: fixed;
    transition: left 1s ease-in-out;
    font-size: 20px;
    bottom: 0;
}

@media screen and (max-width: 750px) {
    p.matchNumber {
        transform: translateX(-25px);
    }
}

@media screen and (max-width: 750px) {

    div.RouterBloc {
        position: relative;
        display: flex;
        justify-content: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: relative;
        background-color: rgb(255, 255, 255);
        margin-top: 10px;
        padding: 7px;
        margin: 0px;
        top: 0px;
    }

    .RouterBloc>a {
        color: rgb(0, 0, 0);
        padding: 0px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 2px;
        background-color: transparent;
        border: none;
    }

    .RouterBloc>a:hover {
        transform: none;
    }

    .RouterBloc>button {
        color: rgb(0, 0, 0);
        padding: 0px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 2px;
        background-color: transparent;
        border: none;
    }
}

/* div principale */

div.CenterMatch {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50vh;
    transform: translateY(-50%);
}

@media screen and (max-width: 750px) {
    div.CenterMatch {
        transform: translateY(-60%);
    }
}

/* children */

.CenterMatch>span {
    display: block;
    overflow: hidden;
    border: black solid 1px;
    width: 850px;
    height: 350px;
}

img.MatchProfil {
    position: relative;
}

/* bouttons rouge vert */

div.MatchButton {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

@media screen and (max-width: 750px) {
    div.MatchButton {
        width: 300px;
    }
}

div.MatchButton>input {
    color: transparent;
    border: solid black 1px;
    border-radius: 80%;
    width: 120px;
    height: 120px;
}

/* Panneau recherche personalisée */

div.sliderComponent {
    display: block;
    position: absolute;
    background-color: #FFFD38;
    border: solid black 1px;
    padding: 20px;
    border-radius: 30px;
    top: 300px;
    left: 10px;
    width: 200px;
}

button.MatchSearchButton {
    display: none;
}

@media screen and (max-width: 750px) {

    div.sliderComponent {
        display: none;
    }

    div.sliderComponenthide {
        display: block, ;
        position: absolute;
        background-color: #FFFD38;
        border: solid black 1px;
        padding: 20px;
        border-radius: 30px;
        top: 70px;
        left: 30px;
        width: 200px;
    }

    button.MatchSearchButton {
        display: block;
        position: absolute;
        background-color: #FFFD38;
        border: 1px black solid;
        border-radius: 30px;
        margin: 5px;
        padding: 5px;
        width: 30px;
        height: 30px;
    }
}

/* Image */

.CenterMatch>a>span.spanMatch {
    display: block;
    overflow: hidden;
    border: black 1px solid;
    width: 300px;
    height: 300px;
    margin-bottom: -1px;
}

.CenterMatch>a {
    transform: none;
}

/* Texte */

@media screen and (max-width: 750px) {
    .CenterMatch>p {
        padding: 0px;
        margin: 5px;
        font-size: 12px;
    }
}