/* ---- BLOC DE GAUCHE ---- */

/* Structure */
.BlocBase {
    position: absolute;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    /* height: 200vh; */
    top: 20vh;
}

.BlocUser {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    height: calc(80vh - 20px);
    margin: 10px;
}


/* Titre */
.Titre {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 5px;
}


/* Image */
.BlocUser>span {
    display: block;
    overflow: hidden;
    border: black 1px solid;
    width: 300px;
    height: 300px;
    margin-bottom: -1px;
}

div.BlocImage {
    display: flex;
    align-content: space-between;
    border: black 1px solid;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
}

.image {
    /* régler la dimension en js */
    height: 300px;
}

/* Input Top */

div.HeaderProfil {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 5px;
}

div.HeaderProfil>input {
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
    padding: 3px;
    font-size: 8px;
    margin-left: 2px;
}

/* Input Bottom */

div.UserButton {
    display: flex;
    justify-content: space-between;
}

div.UserButton>input {
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
}

/* Informations */

div.BlocInformations {
    display: inline-block;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

p.BlocTexte {
    font-size: 10px;
    padding-left: 10px;
}

/* ---- BLOC DE DROITE ---- */

/* Bloc Chat */

div.BlocChat {
    background-color: white;
    height: 200px;
    border: 1px black solid;
    border-radius: 5px;
    margin-bottom: 5px;
}

div.BlocWrite {}

div.BlocWrite>div {
    background-color: #eee;
    height: 50px;
    border: 1px black solid;
    padding-left: 5px;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* Input Send */

input.send {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
}