/* ---- BLOC DE GAUCHE ---- */

/* Structure */
.BlocBase {
    position: absolute;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    /* height: 200vh; */
    top: 20vh;
}

@media only screen and (max-width:800px) {
    .BlocBase {
        align-items: center;
        flex-direction: column;
    }
}

.BlocUser {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: calc(80vh - 20px);
    margin: 10px;
}


/* Titre */
.Titre {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 5px;
}


/* Image */

.BlocUser>.spanTarget {
    display: block;
    overflow: hidden;
    border: black 1px solid;
    width: 300px;
    height: 300px;
    margin-bottom: -1px;
}

.imageTarget {
    position: relative;
}

div.BlocImage {
    display: flex;
    overflow: hidden;
    align-content: space-between;
    border: black 1px solid;
    width: 300px;
    height: 55px;
    margin-bottom: 10px;
}


/* Input Top */

div.HeaderProfil {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 5px;
}

div.HeaderProfil>input {
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
    padding: 3px;
    font-size: 8px;
    margin-left: 2px;
}

/* Input Bottom */

div.UserButton {
    display: flex;
    justify-content: space-between;
}

div.UserButton>input {
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
}

/* Informations */

div.BlocInformations {
    display: inline-block;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    margin-bottom: 10px;
}

p.BlocTexte {
    font-size: 10px;
    padding-left: 10px;
}

/* ---- BLOC DE DROITE ---- */

/* Bloc Chat */

div.BlocChat {
    display: flex;
    overflow: hidden;
}

/* Input Send */

input.send {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    border: solid black 1px;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
}


/* chat box */
.sc-launcher {
    position: absolute;
}

.sc-chat-window {
    position: absolute;
    right: auto;
    width: 300px;
    box-shadow: none;
    border: black solid 1px;
    height: 83.5%;
    overflow: hidden;
    bottom: auto;
}

.sc-header {
    display: none;
    background: rgb(149, 149, 149);
    box-shadow: none;
    border-bottom: black solid 1px;
}

.sc-header--close-button {
    color: black;
}

.sc-header--img {
    display: none;
}

.sc-header--team-name {
    display: none;
}

.sc-user-input--file-icon-wrapper {
    display: none;
}

.sc-message {
    margin-right: 5px;
    margin-left: 5px;
}

.sc-message-list {
    padding-top: 10px;
    padding-bottom: 70px;
}

.sc-message {
    margin-left: 50px;
    width: 225px;
}

.sc-user-input--text {
    width: 230px;
}

.sc-user-input {
    border-top: 1px black solid;
}