.Hide {
    display: none;
}



.BlocProfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.BlocProfilChild {
    background-color: #eeef;
    border: black solid 1px;
    border-radius: 15px;
    width: 400px;
    margin: 10px;
}