/* Même structure que Profil_User */

/* Image */

span.BigPic {
    display: block;
    overflow: hidden;
    border: black 1px solid;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

span.BigPic>img {
    position: relative;
}

div.BlocImage>img {
    width: calc(300px / 5);
}

/* Input */

div.BlocImport {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modify {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: solid black 1px;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
}

.ImportPicture+label {
    cursor: pointer;
}

input.ImportPicture {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Informations */
div.BlocInformations {
    background-color: white;
    border: black solid 1px;
    height: 40px;
    border-radius: 10px;
    padding-bottom: 10px;
}

div.BlocInformations>p.BlocTexte {
    font-size: 10px;
    padding-left: 10px;
}

/* bloc informations */

div.BlocPageFond {
    z-Index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.198);
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;

}

div.BlocPageInfo {
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

div.BlocTextInfo {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

div.BlocContentInfo {
    padding-right: 20px;
    padding-left: 20px;
}

textarea.Description {
    resize: none;
    width: 300px;
    height: 100px;
}

textarea:focus {
    outline: 0px;
}

button.ExitInfo {
    color: #777;
    border: none;
    background: 0;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
}

button.ExitInfo:hover {
    transform: none;
}