/* Même structure que Profil_User */

/* Image */

span.BigPic {
    display: block;
    overflow: hidden;
    border: black 1px solid;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

div.BlocImage>img {
    width: calc(300px / 5);
}

/* Input */

div.BlocImport {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modify {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: solid black 1px;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
}

.ImportPicture+label {
    cursor: pointer;
}

input.ImportPicture {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* Informations */
div.BlocInformations {
    background-color: white;
    border: black solid 1px;
    height: 40px;
    border-radius: 10px;
    padding-bottom: 10px;
}

div.BlocInformations>p.BlocTexte {
    font-size: 10px;
    padding-left: 10px;
}