.prefix__st0 {
    fill: none;
}

.prefix__st1 {
    fill: #FFFD38;
    stroke: #000000;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

.prefix__st2 {
    font-family: 'nationalH';
    transition: all 2s ease-in-out;
}

.prefix__st3 {
    font-size: 134px;
}

.prefix__st4 {
    fill: #35D467;
    stroke: #000000;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

.prefix__st5 {
    fill: #FDA5EB;
    stroke: #000000;
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

.prefix__sst0 {
    fill: none;
}

.prefix__sst1 {
    fill: #FFFD38;
    stroke: #000000;
    stroke-width: 0.6px;
}

.prefix__sst2 {
    font-family: 'nationalH';
}

.prefix__sst3 {
    font-size: 70px;
}

.prefix__sst4 {
    fill: #35D467;
    stroke: #000000;
    stroke-width: 0.6px;
}

.prefix__sst5 {
    fill: #FDA5EB;
    stroke: #000000;
    stroke-width: 0.6px;
}

svg.prefix__logo {
    z-index: 2;
    position: absolute;
    width: 100px;
    right: 10px;
}


svg.prefix__titre {
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    width: 500px;
}

@media screen and (max-width: 750px) {
    svg.prefix__titre {
        width: 95vw;
    }
}

svg:hover>.prefix__st2 {
    transform: matrix(1, 0, 0, 1, 1.3711, 113.645);
}

.prefix__rectangle {
    transition: all 2s ease-in-out;
    fill: aqua;
    z-index: 3;
}